#jumbo_bg  h1{
  padding-top: 150px;
  font-size: 5em;
  font-weight: 600;
  color: #003745;

}
.jumbotron {
  background-image: url("../css/images/panice.jpg");
  background-repeat: no-repeat;
  background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#jumbo_bg .btn {
  background-color: #003745;
  
}
