/* Coolors Exported Palette - coolors.co/038192-13505b-d8e2dc-f46036-fffbfc */

/* HSL */
$color1: hsla(187%, 96%, 29%, 1);
$color2: hsla(189%, 65%, 22%, 1);
$color3: hsla(144%, 15%, 87%, 1);
$color4: hsla(13%, 90%, 58%, 1);
$color5: hsla(345%, 100%, 99%, 1);

/* RGB */
$color1: rgba(3, 129, 146, 1);
$color2: rgba(19, 80, 91, 1);
$color3: rgba(216, 226, 220, 1);
$color4: rgba(244, 96, 54, 1);
$color5: rgba(255, 251, 252, 1);